p {
  font-size: 24px;
}

.container {
  display: flex;
}
.fixed {
  width: 50%;
}
.flex-item {
  width: 50%;
  flex-grow: 1;
  margin: auto;
}

@media only screen and (max-width: 800px) {
  .container {
    display:block;
    width: 100%;
  }
  .fixed {
    width: 100%;
  }
  .flex-item {
    width: 100%;
    flex-grow: 0;
  }
}